{% extends 'base.twig' %}

{% block content %}

<h2>Admin section</h2>

{% if users %}
    <table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Admin?</th>
        <th>Card number?</th>
        <th>Doctor?</th>

    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.userid|e('html_attr') }}</td>
            <td><a href="/user/{{ user.username|e('html_attr') }}">{{ user.username|e('html_attr') }}</a></td>

            <td>
                {% if user.isAdmin == 0 %}
                    No
                {% else %}
                    Yes
                {% endif %}
            </td>

            <td>

                {% if user.getCardNumber == 0 %}
                    No
                {% else %}
                    Yes
                {% endif %}
            </td>


            {% if user.isDoctor == 0 %}
                <td>No</td>
				<td>
				<form action="admin/doctor/add" method="post">
				<input type="hidden" name="csrf" value="{{ csrf }}">
				<input type="hidden" name="username" value="{{ user.username|e('html_attr') }}">
				<input type="submit" value="Set as Doctor" name="Set as Doctor"></button>
				</form>
				</td>
            {% else %}
                <td>Yes</td>
				<td>
				<form action="admin/doctor/remove" method="post">
				<input type="hidden" name="csrf" value="{{ csrf }}">
				<input type="hidden" name="username" value="{{ user.username|e('html_attr') }}">
				<input type="submit" value="Set as user" name="Set as user"></button>
				</form>
				</td>
            {% endif %}
			<td>
			<form action="admin/delete" method="post">
			<input type="hidden" name="csrf" value="{{ csrf }}">
			<input type="hidden" name="username" value="{{ user.username|e('html_attr') }}">
			<input type="submit" value="Delete this user" name="Delete this user"></button>
			</form>
			</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    The users table is empty.
{% endif %}

{% if posts %}
    <table>
        <tr>
            <th> Id</th>
            <th> Title</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td><a href="/posts/{{ post.postid|e('html_attr') }}">{{ post.title|e('html_attr') }}</a></td>
			<td>
			<form action="admin/delete/post" method="post">
			<input type="hidden" name="csrf" value="{{ csrf }}">
			<input type="hidden" name="postId" value="{{ post.postid|e('html_attr') }}">
			<input type="submit" value="Delete this post" name="Delete this post"></button>
			</form>
			</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    There are no posts
{% endif %}

{% endblock %}
