{% extends 'base.twig' %}

{% block content %}

    <h2>Posts </h2>
    {% if user.isDoctor %}
        You are currently registered as a doctor. <br />
    {% endif %}
    {% for post in posts %}
        {% if post.author %}
        {% endif %}
        <div class="post">
            <a href="/posts/{{ post.postId|e('html_attr') }}">{{ post.title|e('html_attr')}}</a> by  <a href="/user/{{ post.author|e('html_attr') }}"> {{ post.author|e('html_attr') }}</a>. Posted on {{ post.date|e('html_attr') }}
        </div>
    {% else %}
        There are no posts as of yet
    {% endfor %}

{% endblock %}
