{% extends 'base.twig' %}

{% block content %}
    <h3> {{ flash.msg|raw }}</h3>
    {% if post %}
        <h2>{{ post.title}}</h2>
        <h3> by {{post.author|raw}}</h3>
        <p> {{ post.content }}</p>
        <lb></lb>
        <h2>COMMENTS</h2>
        {% for comment in comments %}
            <div class="review">
                <b>Author:</b> {{ comment.author }} <b> posted on: {{ comment.date }} </b>
                <pre> {{ comment.text|raw }}</pre>
            </div>
        {% else %}
            <br>
            Be the first one to write a comment for this post.
            <br>
            <br>
        {% endfor %}
        <h2>Post your comment here</h2><br />
        <p>Comment: </p>
        <form method="post" action="">
            <textarea cols="40" rows="10" name="text" ></textarea> <br />
            <input type="submit" value="Submit comment" name="submit"></button>
        </form>

    {% else %}
        <h1> Unable to find that post. </h1>
    {% endif %}

{% endblock %}
