{% extends 'base.twig' %}

{% block content %}

<h2>User</h2>

{{ flash.info|e('html_attr')}} <br />
{{ flash.error|e('html_attr')}} <br />

{% if user %}
    <table>
        <tr>
            <th>Id</th>
            <th>{{ user.userid|e('html_attr') }}</th>
            <tr></tr>
            <th>Username:</th>
            <td>{{ user.username|e('html_attr') }}</th>
            <tr></tr>
            <th>Full Name:</th>
            <td>{{ user.fullname|e('html_attr') }}</th>
            <tr></tr>
            <th>Address:</th>
            <td>{{ user.address|e('html_attr') }} </td>
            <tr></tr>
            <th>Postcode:</th>
            <td>{{  user.postcode|e('html_attr') }}</td>
            <tr></tr>
            <th>Hash:</th>
            <td>************</td>
            <tr></tr>
            <th>Email:</th>
            <td>{{ user.email|e('html_attr') }}</td>
            <tr></tr>
            <th>Bio:</th>
            <td>{{ user.bio|e('html_attr')}}</td>
            <tr></tr>
            <th>Age:</th>
            <td>{{ user.age|e('html_attr') }}</td>
            <tr></tr>
            <th>Balance:</th>
            <td>{{ user.balance|e('html_attr') }}</td>
            <tr></tr>
            <th>Card number (4 last digits):</th>
            <td>{{ user.cardNumberToDisplay|e('html_attr') }}</td>
            <td><a href="/cardnumber">Change cardnumber</a></td>
            <tr></tr>
    </table>
{% else %}
    Could not find a user with username "{{ username|e('html_attr') }}".
{% endif %}

{% endblock %}
