{% extends 'base.twig' %}

{% block content %}

<h2>User</h2>

{{ flash.info|e('html_attr') }} <br />
{{ flash.error|e('html_attr') }} <br />

{% if user %}
    <table>
        <tr>
            <th>Id</th>
            <th>{{ user.userid|e('html_attr') }}</th>
            <tr></tr>
            <th>Username:</th>
            <td>{{ user.username|e('html_attr') }}</th>
            <tr></tr>
            <th>Bio:</th>
            <td>{{ user.bio|e('html_attr') }}</td>
            <tr></tr>
            <th>Age:</th>
            <td>{{ user.age|e('html_attr') }}</td>
            <tr></tr>
            <th>Role:</th>
            <td>{{ user.role|raw }}</td>
            {% if isAdmin %}
            <td>
                {% if user.isdoctor == 0 %}
                    <a href="{{ urlFor('changeRole') }}">Set as Doctor</a>
                {% else %}
                    <a href="{{ urlFor('changeRole') }}">Set as user</a>
                {% endif %}
            </td>
            {% endif %}
            <tr></tr>
    </table>
{% else %}
    Could not find a user with username "{{ username|e('html_attr') }}".
{% endif %}

{% endblock %}
